<!DOCTYPE html>
<html>
<head>
<title>Basalt Exclusive License | Volcano Judge</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {
  font-family: Garamond, serif;
  margin-left: 12px;
}
a {
  color: black;
}

form {
  width: 200px;
}
</style>
</head>

<body>
<a href="/"><img src="/static/logo.png" width="200px"></a>

<div style="position: fixed; margin-left: 12px">
<span>Volcano Judge &copy 2022 volcano.</span>
</div>

<center><h1>Basalt Exclusive License</h1>
<p style="width: 30%">All problems provided to the Volcano Judge are under the Basalt Exclusive License.</p>
<p style="width: 30%">The Basalt Exclusive License allows the Volcano Judge to:</p>
<p style="width: 30%">- Redistribute your problems (with or without a fee)</p>
<p style="width: 30%">- Publically display your problems</p>
<p style="width: 30%">- Host contests and collections consisting of your problems</p>
<p style="width: 30%">- Remove your problems from the platform</p>
<p style="width: 30%">By submitting your problems to the Volcano Judge, you are providing problems to us under the Basalt Exclusive License.</p>
</center>

</body></html>