
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{problem.title}} | Results | Volcano Judge</title>
    <link rel="icon" href="/static/favicon.ico">


    <!-- Bootstrap core CSS -->
<link href="/static/bootstrap.min.css" rel="stylesheet">

<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="/static/offcanvas.css" rel="stylesheet">
  </head>
{% if current_user.darkmode==0 %}
  <body class="bg-light">
{% endif %}

{% if current_user.darkmode==1 %}
  <body class="bg-dark">
{% endif %}

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">volcano judge</a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/{{current_user.username}}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item dropdown">
{% if current_user.darkmode==0 %}
          <a class="nav-link dropdown-toggle" style="cursor: pointer" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Light Mode</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" href="/dark-mode">Dark Mode</a></li>
          </ul>
{% else %}
          <a class="nav-link dropdown-toggle" style="cursor: pointer" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Dark Mode</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" href="/dark-mode">Light Mode</a></li>
          </ul>
{% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="nav-scroller bg-body shadow-sm">
  <nav class="nav nav-underline" aria-label="Secondary navigation">
    <a class="nav-link" href="/">Dashboard</a>
    <a class="nav-link active" aria-current="page" href="/problems">
      Problems
      <span class="badge bg-light text-dark rounded-pill align-text-bottom">{{problemcount}}</span>
    </a>
    <a class="nav-link" href="/contests">
      Contests
      <span class="badge bg-light text-dark rounded-pill align-text-bottom">{{contestcount}}</span>
    </a>
    <a class="nav-link" href="/rankings">Users</a>
    <a class="nav-link" href="/feedback">Feedback</a>
    <a class="nav-link" href="/contact">Contact</a>
    <a class="nav-link" href="/about">About</a>
  </nav>
</div>

<main class="container">
{% if current_user.darkmode==1 %}
<div style="color: white">
{% endif %}
<h2 class="border-bottom pb-2 mb-0">Results for <a href="/problem/{{problem.code}}">{{problem.title}}</a>.</h2><br>

{% if current_user.darkmode==1 %}
</div>
{% endif %}

<h2 style="color: #e02828">Wrong Answer</h2><br><br><br>

{% if current_user.darkmode==1 %}
<div style="color: white">
{% endif %}
<h6>What does this result mean?</h6>
<p>Your code failed at least one test - it outputted the wrong answer. Volcano Judge didn't award you with any points.</p>

  </div>
  </div>
  </div>
  </div>
</main>


    <script src="/static/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

      <script src="/static/offcanvas.js"></script>
  </body>
</html>
