
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | Scoreboard | Volcano Judge</title>

    

    <!-- Bootstrap core CSS -->
<link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="/static/offcanvas.css" rel="stylesheet">
  </head>
{% if current_user.darkmode==0 %}
  <body class="bg-light">
{% endif %}

{% if current_user.darkmode==1 %}
  <body class="bg-dark">
{% endif %}
    
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">volcano judge</a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/{{current_user.username}}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item dropdown">
{% if current_user.darkmode==0 %}
          <a class="nav-link dropdown-toggle" style="cursor: pointer" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Light Mode</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" href="/dark-mode">Dark Mode</a></li>
          </ul>
{% else %}
          <a class="nav-link dropdown-toggle" style="cursor: pointer" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Dark Mode</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" href="/dark-mode">Light Mode</a></li>
          </ul>
{% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="nav-scroller bg-body shadow-sm">
  <nav class="nav nav-underline" aria-label="Secondary navigation">
    <a class="nav-link" href="/">Dashboard</a>
    <a class="nav-link" href="/problems">
      Problems
      <span class="badge bg-light text-dark rounded-pill align-text-bottom">{{problemcount}}</span>
    </a>
    <a class="nav-link active" aria-current="page" href="/contests">
      Contests
      <span class="badge bg-light text-dark rounded-pill align-text-bottom">{{contestcount}}</span>
    </a>
    <a class="nav-link" href="/rankings">Users</a>
    <a class="nav-link" href="/feedback">Feedback</a>
    <a class="nav-link" href="/contact">Contact</a>
    <a class="nav-link" href="/about">About</a>
  </nav>
</div>

<main class="container">
  <div class="d-flex align-items-center p-3 my-3 text-black bg-white rounded shadow-sm">
    <div class="lh-1">
      <h1 class="h6 mb-0 text-black lh-1">Host your own contest for free!</h1>
      <small>Please create a contest <a href="/create-contest">here</a>.</small>
    </div>
  </div>

{% autoescape false %}
{% if current_user.darkmode==0 %}
  <div class="my-3 p-3 bg-body rounded shadow-sm">
{% else %}
  <div style="color: white" class="my-3 p-3 bg-dark rounded shadow-sm">
{% endif %}
    <h2 class="border-bottom pb-2 mb-0">{{title}}</h2><br>
{% if contest.rated==0 %}
<b style="color: #ed283c">This contest will not affect user ratings.</b><br><br>
{% endif %} {% if contest.rated==1 %}
<b style="color: #4cba6a">This contest will affect user ratings.</b><br><br>
{% endif %}
<hr>
<p>
{% if current_user.darkmode==0 %}
<table class="table">
{% else %}
<table class="table table-dark">
{% endif %}
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Username</th>
      <th scope="col">Score</th>
      <th scope="col">Current Rating</th>
    </tr>
  </thead>
  <tbody>
{% for i in range(length) %}
    <tr>
      <th>#{{i+1}}</th>
      <th><a target="_blank" href="/user/{{usernames[i]}}">{{usernames[i]}}</a></th>
      <th>{{scores[i]}}/{{contest.problemcount}}</th>
      <th>{% if ratings[i]!=0 %} {{ratings[i]}} {% else %} unrated {% endif %}</th>
    </tr>
    <tr>

    </tr>
{% endfor %}
  </tbody>
</table>
</p>
    </div>
{% endautoescape %}

  </div>
  </div>
</main>


    <script src="/static/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

      <script src="/static/offcanvas.js"></script>
  </body>
</html>
